<plugin id="org.slidinator.slideset2html.slidy">
  <extension id="xsl.transtype-slideset2htmlslidy"/>
  
  <require plugin="net.sourceforge.dita4publishers.common.xslt"/>
  <require plugin="org.slidinator.pptx"/>
  <require plugin="org.slidinator.slideset2html.common"/>

  <template file="build_transtype-slideset2htmlslidy_template.xml"/>
  
  <template file="xsl/slideset2htmlslidy_template.xsl"/>

  <feature extension="dita.conductor.transtype.check" value="slideset2htmlslidy" type="txt"/>
  <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>

</plugin>
